

/* BASE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

body {
  font-family: 'Roboto', sans-serif;
}

#app {
  max-width: 1280px;
  margin: auto;
}

:root {
  --star-size: 60px;
  --star-color: rgb(184, 184, 184);
  --star-background: black;
}


/* LAYOUT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

.o-product-overview {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
}

.o-image-gallery {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* .o-image-gallery {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
} */

.o-image-gallery-thumbnails {
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline-block;
}

.o-main-image {
  grid-column-start: 3;
  grid-column-end: 7;
}



.o-product-controls {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
}

.o-product-description {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}

.rr-content {
  display: flex;
  flex-flow: row;
}



/* MODULE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

header {
  text-align: center;
}

header nav {
  text-align: left;
  background-color: rgb(4, 4, 4);
}

header nav h1 {
  margin: 0;
  margin-bottom: 4px;
}

header nav img {
  height: 40px;
  width: 40px;
  margin: 4px 8px;
  vertical-align: middle;
}

header p {
  margin: 16px 0;
  font-weight: 300;
  font-size: small;
  text-transform: uppercase;
}


.product-overview,
.review-list,
.review-tile {
  border: solid gray 1px;
  padding: 8px;
}

.o-image-gallery .o-main-image {
  width: 730px;
}


.qaDisplay .question-list {
  border: solid gray 1px;
  padding:8px;
}

.question-entry {
  border: solid gray 1px;
  padding:8px;
}

.answer {
  border: solid gray 1px;
  padding:8px;
}

.qaSearch {
  display: block;
  width: 99.5%;
  height: 50px;
}

.question-entry {
  display: grid;
  grid-template-columns: 80% 20%;
}

.answer-footer {
  display: grid;
  grid-template-columns: 35% 10% 5%;
  font-size:12px;
  font-family: arial;
  opacity: 0.5;
}

.question-entry-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: small;
  opacity: .5;
}

.question {
  font-weight: bold;
  font-family: arial;
}


/* STATE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*
  DETAILS

  Base: Default styles. Typically applies to native elements: body, form, input, a, a:hover, etc.
  Layout: Styles that divide the page/component into sections. l- or layout-
  Module: Reusable, modular parts of design. Think: callouts, product lists, ratings graphs, etc.
  State: How things look in a particular state. Hidden or expanded? Active or inactive? is-hidden or is-collapse

  http://smacss.com/book/categorizing
  https://medium.com/@fuladuf/state-of-the-art-in-css-a-closer-look-at-css-architecture-systems-544339a6c625

*/