

/* BASE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

body {
  font-family: 'Roboto', sans-serif;
}

body * {
  box-sizing: border-box;
}

:root {
  --star-size: 35px;
  --star-color: rgb(184, 184, 184);
  --star-background: black;
}


/* LAYOUT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

#app {
  max-width: 1280px;
  margin: auto;
}

.rr-content {
  display: grid;
  grid-template-columns: 30% 70%;
}

.rating-bars,
.char-bar,
#review-body {
  display: flex;
  flex-flow: column;
}

.review-tile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

#review-header {
  display: flex;
  justify-content: space-between;
}

#review-footer {
  margin: 10px;
}

.review-buttons {
  margin-top: 8px;
}

/* MODULE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

header {
  text-align: center;
}

header nav {
  height: 4rem;
  background-color: rgb(4, 4, 4);
  text-align: left;
  color: lightgray;
}

header nav h1 {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding-left: 1rem;
}

header p {
  margin: 16px 0;
  font-weight: 300;
  font-size: small;
  text-transform: uppercase;
}

.qaDisplay {
max-height: 800px;
display: block;
}

.question-list {
  display: block;
  max-height: 650px;
  overflow-y:scroll;
}

.question-list::-webkit-scrollbar {
  display:none;
}

.subtitle {
  margin: none;
}

.search {
  display:flex;
}

.upload-btn, .answer-submit {
  border: solid 1px;
  padding-top: .8rem;
  margin-right: .7rem;

}

input[type="file"] {
  display: none;
}

.answer-img {
  max-width: 100px;
  max-height: 100px;
  margin-right: .7rem;
}

.photo-list {
  justify-content: flex-start;

}

.expand-answers-btn{
  margin-top: 5px;
  font-size: small;
  opacity: .5;
}

.qaSearch {
  width: 100%;
  height: 50px;
}

.question-entry {
  display: grid;
  grid-template-columns: 80% 20%;
}

.answer-footer {
  display: grid;
  grid-template-columns: 35% 10% 5%;
  font-size:12px;
  font-family: arial;
  opacity: 0.5;
}

.question-entry-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: small;
  opacity: .5;
}

.question {
  font-weight: bold;
  font-family: arial;
}

.breakdown {
  display: flex;
  flex-flow: column;
  width: 325px;
  justify-content: space-evenly;
  padding-right: 20px;
}

.rating-stars {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 25px 25px;
}

.answer-modal,
.question-modal,
.review-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.more-q-btn,
.add-q-btn,
.review-btn {
border: solid 1px;
border-color: black;
background-color: white;
height: 50px;
margin-right: 1rem;
padding-right: 1rem;
padding-left: 1rem;
font-weight: bold;
font-size: 15px;
}

.disclaimer {
  font-size: small;
  opacity: .5;
  height: 0px;
  margin-top: 1px;
}

.answer-display {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-flex;

}

.a {
  font-weight: bold;
}

.a, .answer-body {
  margin-top: 0px;
  margin-bottom: 0px;
}

.answer-content, .question-content {
  display: grid;
  background-color: white;
  width: 750px;
  height: 550px;
  border-radius: .2rem;
  padding: 8px;
}

.input-content {
  display: grid;
  margin: 1px;
}

.input-content > input, textarea {
  resize: none;
  border-radius: .2rem;
}

.input-content > label {
  display: block;
  padding-top:10px;
}

.img-display > img {
  max-width: 100px;
  max-height: 100px;
  margin-right: .7rem;
}

.answer-title {
  font-family: arial;
}

.modal-header {
  display:grid;
  grid-template-columns: 98% 2%;
}

.modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}



.review-content {
  display: grid;
  background-color: white;
  max-height: 80%;
  border-radius: .2rem;
  padding: 8px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.addreview-header {
  display:grid;
  grid-template-columns: 95% 5%;
}

#summary,
#review-body,
#nickname,
#email {
  width: 100%
}

.star-slider {
  -webkit-appearance: none;
  width: 80%;
  height: 7px;
  background: rgb(184, 184, 184);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider3 {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgb(184, 184, 184);
  background: linear-gradient(to right, rgb(184, 184, 184) 32%, white 32%, white 34%, rgb(184, 184, 184) 34%, rgb(184, 184, 184) 65%, white 65%, white 67%, rgb(184, 184, 184) 67%, rgb(184, 184, 184) 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider4 {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgb(184, 184, 184);
  background: linear-gradient(to right, rgb(184, 184, 184) 25%, white 25%, white 27%, rgb(184, 184, 184) 27%, rgb(184, 184, 184) 49%, white 49%, white 51%, rgb(184, 184, 184) 51%, rgb(184, 184, 184) 73%, white 73%, white 75%, rgb(184, 184, 184) 75%, rgb(184, 184, 184) 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider3::-webkit-slider-thumb,
.slider4::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid rgb(71, 70, 70);
}

.slider3::-moz-range-thumb,
.slider4::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid rgb(71, 70, 70);
}

.star-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--width);
  height: 7px;
  border: 0;
  background: green;
}

#star-average {
  font-size: 45px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: stretch;
}

#char-desc {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

#char-title,
#rr-title {
  margin-bottom: 5px;
}

#tile-stars {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.review-photos {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  list-style-type: none;
  padding-inline-start: 0px;
}

.review-photo {
  max-height: 70px;
  max-width: 70px;
  margin: 10px;
  transition: 0.3s;
}
.review-photo:hover {
  opacity: 0.7;
}

.picture-modal {
  margin: auto;
  display: block;
  max-height: 85%;
  max-width: 85%;
}

.response {
  margin: 0px;
  padding: 16px 16px;
  background-color: rgba(202, 202, 202, 0.822);
}

/* STATE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  border-color: red;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review-list {
  max-width: 800px;
  max-height: 530px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.review-list::-webkit-scrollbar {
  display: none;
}


/*
  DETAILS

  Base: Default styles. Typically applies to native elements: body, form, input, a, a:hover, etc.
  Layout: Styles that divide the page/component into sections. l- or layout-
  Module: Reusable, modular parts of design. Think: callouts, product lists, ratings graphs, etc.
  State: How things look in a particular state. Hidden or expanded? Active or inactive? is-hidden or is-collapse

  http://smacss.com/book/categorizing
  https://medium.com/@fuladuf/state-of-the-art-in-css-a-closer-look-at-css-architecture-systems-544339a6c625

*/