

/* BASE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

body {
  font-family: 'Roboto', sans-serif;
}

body * {
  box-sizing: border-box;
}

:root {
  --star-size: 35px;
  --star-color: rgb(184, 184, 184);
  --star-background: black;
  --bars-size: 30px;
  --bars-color: rgb(184, 184, 184);
  --bars-background: green;
}


/* LAYOUT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

#app {
  max-width: 1280px;
  margin: auto;
}

.rr-content {
  display: flex;
  flex-flow: row;
}

.rating-bars {
  display: flex;
  flex-flow: column;
}


/* MODULE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

header {
  text-align: center;
}

header nav {
  text-align: left;
  background-color: rgb(4, 4, 4);
  color: lightgray;
}

header nav h1 {
  margin: 0;
  margin-bottom: 4px;
}

header nav img {
  height: 40px;
  width: 110px;
  margin: 4px 8px;
  vertical-align: middle;
}

header p {
  margin: 16px 0;
  font-weight: 300;
  font-size: small;
  text-transform: uppercase;
}

.o-product-overview,
.review-list,
.review-tile {
  border: solid gray 1px;
  padding: 8px;
}

/* .qaDisplay .question-list {
  border: solid gray 1px;
  padding:8px;
} */

.qaDisplay {
max-height: 800px;
display: block;
}

.question-list {
  display: block;
  max-height: 650px;
  overflow-y:scroll;
}

/* .answer {
  border: solid gray 1px;
  padding:8px;
} */

.search {
  display:flex;
}

.expand-answers-btn{
  margin-top: 5px;
  font-size: small;
  opacity: .5;
}

.qaSearch {
  width: 100%;
  height: 50px;
}

.question-entry {
  display: grid;
  grid-template-columns: 80% 20%;
}

.answer-footer {
  display: grid;
  grid-template-columns: 35% 10% 5%;
  font-size:12px;
  font-family: arial;
  opacity: 0.5;
}

.question-entry-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: small;
  opacity: .5;
}

.question {
  font-weight: bold;
  font-family: arial;
}

.breakdown {
  display: flex;
  flex-flow: column;
  width: 325px;
}

.rating-stars .stars {
  padding-top: 15px;
}

.answer-modal,
.question-modal,
.review-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer {
  font-size: small;
  opacity: .5;
  height: 0px;
  margin-top: 1px;
}

.answer-display {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-flex;

}

.a {
  font-weight: bold;
}

.a, .answer-body {
  margin-top: 0px;
  margin-bottom: 0px;
}

.answer-content, .question-content {
  display: grid;
  background-color: white;
  width: 750px;
  height: 400px;
  border-radius: .2rem;
  padding: 8px;
}

.answer-content > input, textarea {
  resize: none;
  border-radius: .2rem;
}

.answer-content > label {
  display: block;
  padding-top:10px;
}

.answer-title {
  font-family: arial;
}

.modal-header {
  display:grid;
  grid-template-columns: 98% 2%;
}

.modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.review-content {
  display: grid;
  background-color: white;
  max-height: 400px;
  border-radius: .2rem;
  padding: 8px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.addreview-header {
  display:grid;
  grid-template-columns: 95% 5%;
}

#summary,
#review-body,
#nickname,
#email {
  width: 100%
}

/* STATE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  border-color: red;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bars::before {
  content: '―――――';
  font-size: var(--bars-size);
  font-weight: bolder;
  letter-spacing: -3px;
  vertical-align: middle;
  background: linear-gradient(90deg, var(--bars-background) var(--percent), var(--bars-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review-list {
  max-width: 800px;
  max-height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/*
  DETAILS

  Base: Default styles. Typically applies to native elements: body, form, input, a, a:hover, etc.
  Layout: Styles that divide the page/component into sections. l- or layout-
  Module: Reusable, modular parts of design. Think: callouts, product lists, ratings graphs, etc.
  State: How things look in a particular state. Hidden or expanded? Active or inactive? is-hidden or is-collapse

  http://smacss.com/book/categorizing
  https://medium.com/@fuladuf/state-of-the-art-in-css-a-closer-look-at-css-architecture-systems-544339a6c625

*/