.comparison-box {
  border: solid 1px grey;
  padding: 5px;
  width: 40%;
  margin: auto;
  height: 200px;
  overflow: auto;
  top: 140%;
  left: 30%;
  position: absolute;
  z-index: 10;
  background-color: white;
}

.comparison-name-line {
  display: grid;
  grid-template-columns: auto max-content;
  margin: 0;
}

/* .comparison-name {
  font-size: medium;
} */

.comparison-table {
  display: grid;
  grid-template-columns: auto auto max-content;
  font-size: small;
  line-height: 0.6;
}

.comparing {
  font-weight: 300;
  font-size: smaller;
  margin: 0;
}

.value2 {
  justify-items: end;
}

.no-show {
  opacity: 0;
}