.related-product-box {
  border: solid 1px powderblue;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  height: 360px;
  width: 1070px;
}

.related-product-widget {
  margin: auto;
  width: 1070px;
}

.btn-Inactive {
  opacity: 0;
}