
/* BASE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

.o-product-overview select,
.o-product-overview button {
  background: none;
  box-shadow: none;
  border-radius: 0px;
  border: 0.1rem solid #5A5A5A;
  padding: 1rem;
  margin: 1rem;
  margin-left: 0;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}


/* LAYOUT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */

.o-product-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.o-images {
  /* ↓ The width when the left and right are on the same row */
  flex-basis: 50rem;
  flex-grow: 1;
  max-width: 60rem;
}

.o-product-controls {
  /* ↓ Grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  /* ↓ Wrap when the right side is smaller than this */
  min-width: 20rem;
}

.o-product-description {
  /* ↓ Grow from... */
  flex-basis: 100%;
}

.o-images {
  position: relative;
}

.o-images-thumbnails {
  width: 3.25rem;
  position: absolute;
  top: 0.7rem;
  left: 1rem;
}


/* MODULE STYLES
- - - - - - - - - - - - - - - - - - - - - - - - */


/* IMAGE GALLERY */

.o-images-main {
  width: 100%;
  max-height: 30rem;
  min-height: 30rem;
  object-fit: cover;
}

.o-images-thumbnails > * {
  margin: 0;
  padding: 0;
}

.o-images-thumbnails ul {
  list-style-type: none;
}

.o-images-thumbnails img {
  width: 3.25rem;
  height: 3.25rem;
  object-fit: cover;
  border: solid Black 0.05rem;
}

.o-images nav img.o-images-selected {
  border-color: White;
}

.back-arrow-container,
.forward-arrow-container {
  width: 100%;
  height: 1rem;
  text-align: center;
}
.back-arrow-container {
  margin-bottom: 0.25rem;
}
.forward-arrow-container {
  margin-top: -0.25re m;
}

.back-arrow,
.forward-arrow {
  display:inline-block;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
}

.back-arrow {
  border-bottom: 0.75rem solid gray;
}

.forward-arrow {
  border-top: 0.75rem solid gray;
}


/* PRODUCT CONTROLS */

.o-product-category {
  font-weight: 100;
  text-transform: uppercase;
}

.o-product-name {
  font-size: 2rem;
  font-weight: 700;
}

.o-product-style-price .strikethrough {
  text-decoration: line-through;
}

.o-product-style-price .sale {
  margin-left: 0.5rem;
  color: red;
}

.o-style-selector {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 1.5rem;
  column-gap: 2rem;
}

.circle-container {
  width: 4rem;
  max-width: 4rem;
  flex-grow: 1;
  position: relative;
}

.circle {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  width: 100%;
  border: solid black 1px;

  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #ccc;
  -moz-box-shadow:    0.1rem 0.1rem 0.3rem 0.1rem #ccc;
  box-shadow:         0.1rem 0.1rem 0.3rem 0.1rem #ccc;
  /* [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.circle:hover {
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #141414;
  -moz-box-shadow:    0.1rem 0.1rem 0.3rem 0.1rem #141414;
  box-shadow:         0.1rem 0.1rem 0.3rem 0.1rem #141414;
}

.circle::after {
  border-radius: inherit;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.circle-fill {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@supports (object-fit: cover) {
  .circle-fill {
    height: 100%;
    object-fit: cover;
  }
}

.circle-container .icon-container {
  margin: 0;
  padding: 0;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  position: absolute;
  left: 3rem;


}

.circle-container .icon-container .material-icons {
  margin: 0;
  padding: 0;
  height: 1rem;
  width: 1rem;
  z-index: 2;
  position: relative;
  top: -0.19rem;
  left: -0.17rem;
}

.o-qty-list {
  width: 5rem;
}



/* PRODUCT DESCRIPTION */

.o-product-description-slogan {
  font-size: medium;
  font-weight: bold;
}

.o-product-description-features {
  list-style: none;
}

.o-product-description-features li {
  list-style: none;
}

.o-product-description-features li::before {
  content: "\E876";
  font-family: 'Material Icons';
  position: relative;
  left: -0.7rem;
}
